<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form - Submit</title>
</head>

<body>
    <h2>計算機</h2>
    <h3>只有錢錢大於1000的人可以拿到flag</h3>

    <p class="money">你的餘額:100</p>
    買一罐汽水10元,輸入你要買的數量:
    <p><input type="number" id="num" name="user" /></p>
    <button type="button" class="but" onclick="Myfunction()">點我購入</button>
    <h2>Buy flag</h2>
    <button type="button" onclick="buyflag()">點我購入</button>
    <p id="warn"></p>
    <p id="flag"></p>

    <script>
        var x = 100;
      
        function Myfunction(){
          var cost = document.getElementById('num');
          var text = document.querySelector('.money');
          var warn = document.getElementById('warn');

          if(cost.value*10>x){
            warn.innerHTML = "<h3>交易失敗餘額不足!</h3>"
          }else{
            warn.innerHTML = "<h3>交易成功!</h3>"
            x = x - cost.value*10;
            text.innerHTML = `你的餘額: ${x}`
          }

        }

        function buyflag(){
            var text = document.getElementById('flag');
            if(x<1000){
                warn.innerHTML = "<h3>交易失敗餘額不足!</h3>"
              }else{
                fetch('/flag1', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'money': x
                    })
                }).then((res) => {
                    return res.text()   
                }).then(result => {
                    text.innerHTML = result;
                })
            }
        }
    </script>

</body>

</html>
