<!DOCTYPE html>
<html>
<body>

First name: <input type="text" id="gg" name="fname" value="Donald"><br>
Last name: <input type="text" name="lname" value="Duck"><br><br>


<p>Click "Try it" to display the value of each element in the form.</p>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
function myFunction() {
  var x = document.getElementById("gg");
  var text = "";
  var i;
  
  text += x.value + "<br>";
  
  document.getElementById("demo").innerHTML = text;
}
</script>

</body>
</html>