<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>math1</title>
    <link rel="stylesheet" href="{{url_for('static',filename='way.css')}}">
</head>
<body>
    
    <p>不只網頁，讓我們抓住未來吧!</p>
    <img src="https://p3-tt.byteimg.com/origin/pgc-image/af64f240c8ab4659b11124f3fb74e46d?from=pc">

    <img style="visibility:hidden" width="0" height="0"src="/static/images/bonk.gif">
    <img style="visibility:hidden" src="/static/images/giwawa.gif">
    <img style="visibility:hidden" src="/static/images/mywaifu.gif">
    <img style="visibility:hidden" src="/static/images/NTR.jpg">
    <img style="visibility:hidden" src="/static/images/vanila.gif">
    <img style="visibility:hidden" src="/static/images/text.png">
</body>
</html>
