<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>math1</title>
</head>
<body>
    <h2 style="color:red;"> >>!!!!點擊按鈕即可拿到flag!!!!!<< </h2>
    <button type="button" onclick="fun()">點我</button>
    <br>
    <img id= "img" style="visibility:hidden" src="https://media.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif">
    <p id="flag" hidden>flag = {asdasdsadaegfeewfewfws}</p>

    <script>
        function fun(){
            document.getElementById("img").style.visibility = 'visible'
        }
    </script>
</body>
</html>