<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>math1</title>
    <link rel="stylesheet" href="{{url_for('static',filename='way.css')}}"> 
</head>
<body>
    
    <p>唯有香草，是我心中的宿願</p>
    <img src="https://steamuserimages-a.akamaihd.net/ugc/105106517891993907/A52B4F0853EDACCE1BFE6F71B6E60598523E1585/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false">
    <h3>ntcuCTF{found_life_path}</h3>
</body>
</html>
