<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生命的出路</title>
</head>
<body>
    
    <h1>唯有跟香草結婚，才能了卻我心中的宿願</h1>
    <h4>宅弊了 = =</h4>
    <img src="https://steamuserimages-a.akamaihd.net/ugc/105106517891993907/A52B4F0853EDACCE1BFE6F71B6E60598523E1585/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false">
    <h3>ntcuCTF{found_life_path}</h3>
    <br>
</body>
</html>
