<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>無中生有</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/alphardex/aqua.css@master/dist/aqua.min.css'>
  <link rel="stylesheet" href="{{url_for('static',filename='zero/style2.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<form action="/zero" method="GET" class="login-form" action="javascript:void(0);">
  <h1>Unknown user</h1>
  <h2>login in failed :(</h2>
  
  <button type="submit"  class="btn btn-primary btn-ghost">back to login</button>
</form>
<!-- partial -->
  
</body>
</html>
